body {
	background-color: #edc295;
	height: 100vh;
	width: 2500px;
	overflow-x: scroll;
	overflow-y: hidden;
}
@font-face {
	font-family: "Edwardian Script ITC";
	src: url("../assets/fonts/edwardianscriptitc.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@import url(https://use.typekit.net/xwh3mby.css);
.wrapper {
	display: flex;
	flex-direction: row;
	width: max-content;
}
p {
	font-family: "Ebrima", sans-serif;
}

#banner {
	position: absolute;
	left: 0%;
	top: 65%;
	z-index: -1;
}
/*-------------------------------------HOMEPAGE---------------------------------------------------------------*/
.homepage {
	min-width: 100vw;
	height: 100vh;
}
.header {
	display: flex;
	align-items: flex-start;
	padding: 100px 0;
	align-items: baseline;
}

.header h1 {
	font-size: 341.74px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.header h2 {
	font-size: 500px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}
button {
	color: black;
	background-color: #edc295;
	font-family: "Edwardian Script ITC", sans-serif;
	font-style: normal;
	font-size: 50px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
button:hover {
	background-color: #71583a;
	transition: 0.3s;
	color: #edc295;
}
.links_btn button {
	color: #edc295;
	background-color: #71583a;
	font-family: "Edwardian Script ITC", sans-serif;
	font-style: normal;
	font-size: 50px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
.links_btn button:hover {
	background-color: #edc295;
	transition: 0.3s;
	color: black;
}
nav {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}
.nav-buttons {
	display: flex;
	gap: 350px;
	margin-top: -9%;
}
/*-------------------------------------roles---------------------------------------------------------------*/
.roles {
	height: 100vh;
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin: 120px;
}
.titel1 {
	margin-top: 10%;
}
.titel1 h3 {
	font-size: 50px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}

.titel1 em {
	font-size: 40px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.roles .images {
	display: flex;
	flex-direction: row;
	object-fit: cover;
	gap: 30px;
}
.roles .images .foto1 {
	margin-top: 10%;
	width: 200px;
	height: fit-content;
}
.roles .images .foto2 {
	margin-top: 20%;
	width: 220px;
	height: fit-content;
}
.roles .images .foto3 {
	margin-top: 13%;
	width: 170px;
	height: fit-content;
}

.roles .images-and-button {
	display: flex;
	flex-direction: row;
	gap: 35px;
	margin-top: -5%;
}

.images-and-button button {
	font-family: "impact", sans-serif;
	font-size: 30px;
	margin-left: -30%;
	margin-top: 100%;
}

.container {
	background-color: #c3a17c;
	width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login_btn button {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #71583a;
	color: #edc295;
}
