@font-face {
	font-family: "Edwardian Script ITC";
	src: url("../assets/fonts/edwardianscriptitc.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #edc295;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	display: flex;
	flex-direction: column;
	margin-top: -20%;
}
.container {
	width: 800px;
	height: 500px;
	background-color: #c3a17c;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: -32%;
	gap: 10px;
	z-index: 1;
}

.text {
	font-size: 150px;
	font-family: "Edwardian Script ITC", sans-serif;
	font-weight: normal;
	margin-left: -15%;
	z-index: 3;
}
input {
	border-radius: 5px;
	background-color: #edc295;
	width: 300px;
	height: 35px;
}
input::placeholder {
	padding-left: 10px;
}

p {
	font-family: "Ebrima", sans-serif;
	font-size: 20px;
	margin-bottom: 5px;
}

button {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #71583a;
	color: #edc295;
}

button:hover {
	background-color: #edc295;
	transition: 0.3s;
	color: black;
}

.text_below {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.text_below button {
	font-size: 15px;
	width: 200px;
	height: 30px;
}
.text_below p {
	font-size: 15px;
	background-color: #71583a;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin-top: 0%;
	color: #edc295;
	display: flex;
	align-items: center;
	justify-content: center;
}
