@import url(https://use.typekit.net/xwh3mby.css);

@font-face {
	font-family: "Edwardian Script ITC";
	src: url("../assets/fonts/edwardianscriptitc.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #edc295;
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: max-content;
}
#banner {
	position: absolute;
	top: 80%;
	z-index: -1;
}
/*---------------------------------------------------------------------Homepage----------------------------*/

.wrapper {
	width: 100vw;
}
.homepage .header {
	display: flex;
	align-items: flex-start;
	padding: 100px 0;
	white-space: nowrap;
	align-items: baseline;
}
.header h1 {
	font-size: 341.74px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.header h2 {
	font-size: 500px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}
button {
	color: #edc295;
	background-color: #71583a;
	font-family: "Edwardian Script ITC", sans-serif;
	font-style: normal;
	font-size: 50px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
button:hover {
	background-color: #edc295;
	transition: 0.3s;
	color: black;
	cursor: pointer;
}
nav {
	display: flex;
	flex-direction: row;
	margin-left: 9%;
}
.nav-buttons {
	display: flex;
	gap: 5px;
	margin-top: -10.5%;
}
/*---------------------------------------------------------------------Profile----------------------------*/

.profile {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	margin-left: 30%;
	gap: 50px;
	width: 100vw;
}
h3 {
	font-size: 50px;
	font-family: Impact, sans-serif;
}
h4 {
	font-size: 30px;
	font-family: Impact, sans-serif;
}
p {
	font-family: Impact, sans-serif;
}
em {
	font-family: "ebrima", sans-serif;
}
.first_column {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}

.second_column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.third_column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
}
.fourth_column {
	display: flex;
	flex-direction: column;
	width: 400px;
	gap: 100px;
}
.fourth_column .talents {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 300px;
}
.fourth_column .talents em {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.fourth_column .talents p {
	font-family: "ebrima", sans-serif;
}
.fourth_column .hobbys em {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.fourth_column .hobbys p {
	font-family: "ebrima", sans-serif;
}
.fourth_column .hobbys {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 300px;
}

.fifth_column {
	display: flex;
	flex-direction: column;
	width: 400px;
}
.fifth_column .previous_castings {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 300px;
}
.fifth_column .container_castings p {
	font-family: "ebrima", sans-serif;
}
.fifth_column .previous_castings em {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
