body {
	background-color: #edc295;
	height: 100vh;
	width: 2500px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: max-content;
}
p {
	font-family: "Ebrima", sans-serif;
}

#banner {
	position: absolute;
	left: 0%;
	top: 79%;
	z-index: -1;
}
/*-------------------------------------HOMEPAGE---------------------------------------------------------------*/
.homepage {
	min-width: 100vw;
	height: 100vh;
}
.header {
	display: flex;
	align-items: flex-start;
	padding: 10px 0;
	white-space: nowrap;
	align-items: baseline;
}

.header h1 {
	font-size: 341.74px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.header h2 {
	font-size: 618.5px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}
button {
	color: black;
	background-color: #edc295;
	font-family: "Edwardian Script ITC", sans-serif;
	font-style: normal;
	font-size: 50px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
button:hover {
	background-color: #71583a;
	transition: 0.3s;
	color: #edc295;
}
nav {
	position: absolute;
	left: 50%;
	top: 80%;
	z-index: +2;
}

/*-------------------------------------WHO---------------------------------------------------------------*/

.who {
	height: 100vh;
	display: flex;
}
.about {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 80px;
}
.about .title h3 {
	margin-top: 80%;
}
.about .title p {
	width: 300px;
	font-family: "Ebrima", sans-serif;
}
.middelste_fotos {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	gap: 10px;
}
.persoon1 {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.persoon1 img {
	width: 130px;
}
.persoon2 {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-left: -40%;
}
.persoon2 img {
	width: 130px;
}
.right_img img {
	width: 250px;
}
/*-------------------------------------What---------------------------------------------------------------*/
.what {
	height: 100vh;
	display: flex;
	margin: 50px;
}

.photos {
	display: flex;
	flex-direction: row;
	margin: 50px;
	gap: 20px;
}
.what .title {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 10%;
	gap: 25px;
}
.title h3 {
	font-size: 40px;
	font-family: "impact", sans-serif;
	margin: 0;
}

.title em {
	font-size: 50px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}
.what .title p {
	width: 300px;
	font-family: "Ebrima", sans-serif;
}
.first_left img {
	width: 250px;
	height: auto;
	margin-top: 40%;
}

.second_left img {
	width: 150px;
	height: auto;
}

.third_left img {
	width: 230px;
	height: auto;
	margin-left: 40%;
}

.fourth_left img {
	width: 120px;
	height: auto;
	margin-top: -60px;
}

.onder_elkaar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.row {
	display: flex;
	flex-direction: row;
	gap: 120px;
}
/*-------------------------------------PROJECTS1---------------------------------------------------------------*/

.projects {
	height: 100vh;
	display: flex;
	margin: 50px;
}

.anayek {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 50px;
}
.img_tekst {
	display: flex;
	flex-direction: row;
}

.anayek h4 {
	font-size: 50px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}

.anayek em {
	font-size: 40px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.img_tekst {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.img_tekst img {
	width: 300px;
	height: fit-content;
}
.img_tekst p {
	width: 240px;
	font-family: "Ebrima", sans-serif;
}
.img_tekst em {
	font-size: 20px;
	font-family: "impact", sans-serif;
}
/*-------------------------------------PROJECTS2---------------------------------------------------------------*/

.documentary .container {
	display: flex;
	flex-direction: row;
	margin: 40px;
}

.links_column {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 60px;
}
.img_top {
	width: 120px;
	height: auto;
}
.img_bottom {
	width: 170px;
	height: auto;
}

.rechts_column {
	display: flex;
	flex-direction: column;
	margin-top: 8%;
	margin-left: -35px;
	gap: 10px;
}
.rechts_column p {
	width: 400px;
	font-family: "Ebrima", sans-serif;
}
.rechts_column em {
	font-size: 20px;
	font-family: "impact", sans-serif;
}
.img_mid {
	width: 180px;
	height: auto;
}

/*-------------------------------------PROJECTS3---------------------------------------------------------------*/

.series .container {
	display: flex;
	flex-direction: row;
	margin: 50px;
}
.series .container .left_img {
	display: flex;
	flex-direction: row;
	margin-top: 22%;
	gap: 20px;
}
.series .container .left_img img {
	width: 250px;
	height: fit-content;
}
.series .container .left_img p {
	width: 350px;
	line-height: 1.3;
	font-family: "Ebrima", sans-serif;
}
.series .container .left_img em {
	font-size: 20px;
	font-family: "impact", sans-serif;
}
.series .container .right_img {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-left: -15%;
}
.right_img .small-img_img-top {
	width: 200px;
	height: fit-content;
	margin-top: 10%;
}
.right_img .small-img_img-middle {
	width: 130px;
	height: fit-content;
	margin-top: 22%;
}
.right_img .small-img_img-bottom {
	width: 130px;
	height: fit-content;
}
/*-------------------------------------Contact---------------------------------------------------------------*/

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
}
.contact p {
	font-family: "Ebrima", sans-serif;
}
.contact .container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contact .container h5 {
	font-size: 40px;
	font-family: "impact", sans-serif;
}
.contact .container em {
	font-size: 50px;
	font-family: "Edwardian Script ITC", sans-serif;
}
.insta {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}
