body {
	background-color: #edc295;
	height: 100vh;
	width: 2500px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: max-content;
}
/*-------------------------------------HOMEPAGE---------------------------------------------------------------*/
.homepage {
	min-width: 100vw;
	height: 100vh;
}
.header {
	display: flex;
	align-items: flex-start;
	padding: 10px 0;
	white-space: nowrap;
	align-items: baseline;
}

.header h1 {
	font-size: 341.74px;
	font-family: "impact", sans-serif;
	margin: 0;
}
.header h2 {
	font-size: 618.5px;
	font-family: "Edwardian Script ITC", sans-serif;
	margin: 0;
}
button {
	color: black;
	background-color: #edc295;
	font-family: "Edwardian Script ITC", sans-serif;
	font-style: normal;
	font-size: 50px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
button:hover {
	background-color: #71583a;
	transition: 0.3s;
	color: #edc295;
}
nav {
	position: absolute;
	left: 50%;
	top: 80%;
	z-index: +2;
}

/*-------------------------------------WHO---------------------------------------------------------------*/

.who {
	margin: 40px;
	margin-top: 7%;
}
.title {
	display: flex;
	align-items: flex-end;
	margin-left: 40px;
}
.title h3 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 50px;
}
.title em {
	font-family: "Edwardian Script ITC", sans-serif;
	margin-right: 5px;
	font-size: 40px;
}

p {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.left_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 10px;
}
.img_block {
	text-align: center;
}

.img_block2 p {
	z-index: +1;
	padding-right: 50%;
}

.img_block1 img {
	width: 120px;
	height: auto;
	margin-left: 60%;
}

.img_block2 img {
	width: 120px;
	height: auto;
	margin-right: 20%;
}

.right_img img {
	width: 200px;
}
